<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Add Phoneme</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<h1>Add New Phoneme</h1>

<form class="form-card" th:action="@{/phonemes/add(projectId=${phonemeDto.languageProjectID})}" th:object="${phonemeDto}" method="post">
    <input type="hidden" th:field="*{languageProjectID}" />

    <label for="symbol">Symbol:</label>
    <input id="symbol" type="text" th:field="*{symbol}" class="input" placeholder="p, t, k"/>

    <label for="ipa">IPA:</label>
    <input id="ipa" type="text" th:field="*{ipa}" class="input" placeholder="[p], [t], [k]"/>

    <label for="category">Category:</label>
    <select id="category" th:field="*{category}" class="select">
        <option th:each="c : ${T(pbl_module.conlang_creator.enums.PhonemeCategory).values()}"
                th:value="${c}" th:text="${c}"></option>
    </select>

    <button type="submit" class="btn btn-success" style="width:100%;">Save Phoneme</button>
</form>

<a class="link-btn center" th:href="@{/phonemes(projectId=${phonemeDto.languageProjectID})}">← Back to Phonemes</a>

</body>
</html>


