<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Add Language Project</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<h1>Create New Language Project</h1>

<form class="form-card" th:action="@{/projects/add}" th:object="${projectDto}" method="post">
    <label for="name">Name:</label>
    <input id="name" type="text" th:field="*{name}" class="input" placeholder="My Conlang"/>

    <label for="description">Description:</label>
    <textarea id="description" th:field="*{description}" class="textarea" placeholder="Short description"></textarea>

    <button type="submit" class="btn btn-success" style="width:100%;">Save Project</button>
</form>

<a class="link-btn center" th:href="@{/projects}">← Back to Projects</a>

</body>
</html>


